/* *********************** COMPONENTS *********************** */

div[data-type="component"] {

}

/* Component Header */

.header {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	
	position:relative;
	padding: var(--size48px) var(--size144px) var(--size24px) var(--size144px);
	align-self:stretch
	
	scroll-margin-top:76px; /* Required for scrollNav */
}

.headerText {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	
	position:relative;
	color:var(--color-dark-mainFull);
	gap:var(--size12px);
}

.headerSuperTitle {}

.headerSuperTitle > .text {
	font-size:var(--fontSize-1416);
	line-height:var(--lineHeight-1416);
}

.headerTitle {
	position:relative;
}

.headerTitle:before {
	position: absolute;
	content: '';
	width: var(--size120px);
	height: var(--size12px);
	left: calc( var(--size144px) * -1 );
	top: var(--size36px);
	background: var(--color-accent-violet100);
}

.headerTitle > .text {
	font-size:var(--fontSize-7284);
	line-height:var(--lineHeight-7284);
}

.headerDescription {
	max-width:var(--size912px);
}

.headerDescription > .text {
	font-size:var(--fontSize-2436);
	line-height:var(--lineHeight-2436);
}


/* Component Quote */

.quote {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	
	
}

.quoteText {
	padding: var(--size48px) var(--size96px) var(--size72px) var(--size96px);
	border-radius: var(--borderRadius-24);
	background: var(--color-light-white80opacity);
	backdrop-filter: blur(40px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	
	position: relative;
}

.quoteText > .text {
	font-size: var(--fontSize-2432);
	line-height: var(--lineHeight-2432);
	color: var(--color-dark-mainFull);
	text-align: center;
}

.quoteAuthor {

	z-index: 1;
	gap: var(--size12px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	
	position: relative;
	
}

.quoteAuthor > .picture {
	margin-top:calc( var(--fixedsize54px) * -1) !important;
	width: var(--fixedsize96px);
	height: var(--fixedsize96px);
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center center;
	border:var(--size6px) solid #fff;
	

	
}
.quoteAuthor > .text {
	font-size: var(--fontSize-1624);
	line-height: var(--lineHeight-1624);
	color: var(--color-light-white100);
	text-align: center;
}







/* Component roundItems */

.roundItems {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content:center;
	
	gap:var(--size48px);
	
	padding:var(--size0px) var(--size48px);

}

.roundItem {
	width:288px;
	min-height:288px;
	border-radius:100%;
	border:var(--size12px) solid #78cdee;
	background:#eee;
	
	position:relative;
}

.roundItem:before {
	content:'';
	position:absolute;
	width:324px;
	height:324px;
	left:-30px;
	top:-30px;
	border-radius:100%;
	border:1px solid #ccc;
}


/* Component twoColumnDescription */

.twoColumnDescription {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	
	gap:var(--size12px) var(--size48px);
	
	padding:var(--size0px) var(--size48px);

}

.twoColumnDescription > .text {

	flex:1 1 0;

	font-size:var(--fontSize-2436);
	line-height:var(--lineHeight-2436);
	
}

.twoColumnDescription > .text > p {

}

/* Zoom and details component need to be re-done as a flexbox + include a slider button panel */

/* Component zoom */


.pictureControls {

	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items:center;
	align-content:center;
	
	gap:var(--size48px);
	
	position:relative;
	background:pink;
	
	padding:var(--size16px)
}

.zoom {
	
	height:16px;
	width:16px;
	background-color:#fff;
	background-image:url();
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	
}


/* Component details */

.details {

	height:16px;
	width:16px;
	background-color:#fff;
	background-image:url();
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	
}



/* Component sliderControls */
/* parent container requires + 48px margin-bottom */

.sliderControl {


}

.sliderControls > .arrowLeft {

	position:absolute;
	width:48px;
	height:48px;
	top:calc(50% - 24px);
	left:-24px;
	background:#fff;
	z-index:3;
	border-radius:100%;

}

.sliderControls > .arrowRight {

	position:absolute;
	width:48px;
	height:48px;
	top:calc(50% - 24px);
	right:-24px;
	background:#fff;
	z-index:3;
	border-radius:100%;

}

/* Component attention */

.attention {

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content:center;
	
	gap:var(--size12px);
	
	padding:24px 48px;

	background:#FFEC8B;
	position:relative;
	border-radius:24px;
	
}

.attention:before {
	content:'';
	position:absolute;
	width:96px;
	height:6px;
	left:-96px;
	top:calc(50% - 6px);
	background:#FFEC8B;
}

.attention:after {
	content:'';
	position:absolute;
	width:96px;
	height:6px;
	right:-96px;
	top:calc(50% - 6px);
	background:#FFEC8B;
}

.attentionIcon {

	width:64px;
	height:64px;
	background:red;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;

}

.attentionText {
	flex:1 1 0;
}

/* Component actionModule */

.actionModule {
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size24px) var(--size48px);
	
	gap:var(--size12px);
	
	background:#E8EDF5;
	
	text-align:center;
	
	border-radius: 24px;
	border: 1px solid rgba(255, 255, 255, 0.50);
	background: rgba(255, 255, 255, 0.50);
	box-shadow: 0px 12px 48px 0px #C1CFE2;
	backdrop-filter: blur(75px);
	overflow:hidden;
}

.actionGradient {

position:absolute;
top:0;
left:0;
height:100%;
width:100%;

}

.actionTitle {
	position:relative;
	z-index:1;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	align-content:flex-start;
	gap:12px;

}

.actionTitle > .icon {

	width:64px;
	height:64px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;

}

.actionTitle > .title {

	font-size:var(--fontSize-4862);
	line-height:var(lineHeight-4862);

}

.actionButtons {
	position:relative;
	z-index:1;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
	align-content:flex-start;
	gap:24px 24px;

}

.buttonItem {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	gap:6px;

}

.buttonItem > .text {
	
	font-size:var(--fontSize-1416);
	line-height:var(lineHeight-1416);

}


.buttonItem > .button {

	text-wrap:nowrap;
	padding:12px 24px;
	width:320px;
	font-size:var(--fontSize-2436);
	line-height:var(lineHeight-2436);
	border-radius: 100px;
	border: 5px solid #E3E8F1;
	background: linear-gradient(180deg, #FFF 0%, #EDF0F4 100%);
	cursor:pointer;

}

.buttonItem > .button:hover {

	background:deepskyblue;
	color:#fff;

}





/* *********************** END COMPONENTS *********************** */