:root {

	/* Sizes */
	
	--size0px: 0px;
	--size6px: 6px;
	--size12px: 12px;
	--size18px: 18px;
	--size24px: 24px;
	--size30px: 30px;
	--size36px: 36px;
	--size42px: 42px;
	--size48px: 48px;
	--size54px: 54px;
	--size60px: 60px;
	--size66px: 66px;
	--size72px: 72px;
	--size78px: 78px;
	--size84px: 84px;
	--size90px: 90px;
	--size96px: 96px;
	--size102px: 102px;
	--size108px: 108px;
	--size114px: 114px;
	--size120px: 120px;
	--size126px: 126px;
	--size132px: 132px;
	--size138px: 138px;
	--size144px: 144px;
	--size150px: 150px;
	--size156px: 156px;
	--size162px: 162px;
	--size168px: 168px;
	--size174px: 174px;
	--size180px: 180px;
	--size186px: 186px;
	--size192px: 192px;
	--size198px: 198px;
	--size204px: 204px;
	--size210px: 210px;
	--size216px: 216px;
	--size222px: 222px;
	--size228px: 228px;
	--size234px: 234px;
	--size240px: 240px;
	--size246px: 246px;
	--size252px: 252px;
	--size258px: 258px;
	--size264px: 264px;
	--size270px: 270px;
	--size276px: 276px;
	--size282px: 282px;
	--size288px: 288px;
	--size294px: 294px;
	--size300px: 300px;
	--size306px: 306px;
	--size312px: 312px;
	--size318px: 318px;
	--size324px: 324px;
	--size330px: 330px;
	--size336px: 336px;
	--size342px: 342px;
	--size348px: 348px;
	--size354px: 354px;
	--size360px: 360px;
	--size366px: 366px;
	--size372px: 372px;
	--size378px: 378px;
	--size384px: 384px;
	--size390px: 390px;
	--size396px: 396px;
	--size402px: 402px;
	--size408px: 408px;
	--size414px: 414px;
	--size420px: 420px;
	--size426px: 426px;
	--size432px: 432px;
	--size438px: 438px;
	--size444px: 444px;
	--size450px: 450px;
	--size456px: 456px;
	--size462px: 462px;
	--size468px: 468px;
	--size474px: 474px;
	--size480px: 480px;
	--size486px: 486px;
	--size492px: 492px;
	--size498px: 498px;
	--size504px: 504px;
	--size510px: 510px;
	--size516px: 516px;
	--size522px: 522px;
	--size528px: 528px;
	--size534px: 534px;
	--size540px: 540px;
	--size546px: 546px;
	--size552px: 552px;
	--size558px: 558px;
	--size564px: 564px;
	--size570px: 570px;
	--size576px: 576px;
	--size582px: 582px;
	--size588px: 588px;
	--size594px: 594px;
	--size600px: 600px;
	--size606px: 606px;
	--size612px: 612px;
	--size618px: 618px;
	--size624px: 624px;
	--size630px: 630px;
	--size636px: 636px;
	--size642px: 642px;
	--size648px: 648px;
	--size654px: 654px;
	--size660px: 660px;
	--size666px: 666px;
	--size672px: 672px;
	--size678px: 678px;
	--size684px: 684px;
	--size690px: 690px;
	--size696px: 696px;
	--size702px: 702px;
	--size708px: 708px;
	--size714px: 714px;
	--size720px: 720px;
	--size726px: 726px;
	--size732px: 732px;
	--size738px: 738px;
	--size744px: 744px;
	--size750px: 750px;
	--size756px: 756px;
	--size762px: 762px;
	--size768px: 768px;
	--size774px: 774px;
	--size780px: 780px;
	--size786px: 786px;
	--size792px: 792px;
	--size798px: 798px;
	--size804px: 804px;
	--size810px: 810px;
	--size816px: 816px;
	--size822px: 822px;
	--size828px: 828px;
	--size834px: 834px;
	--size840px: 840px;
	--size846px: 846px;
	--size852px: 852px;
	--size858px: 858px;
	--size864px: 864px;
	--size870px: 870px;
	--size876px: 876px;
	--size882px: 882px;
	--size888px: 888px;
	--size894px: 894px;
	--size900px: 900px;
	--size906px: 906px;
	--size912px: 912px;
	--size918px: 918px;
	--size924px: 924px;
	--size930px: 930px;
	--size936px: 936px;
	--size942px: 942px;
	--size948px: 948px;
	--size954px: 954px;
	--size960px: 960px;
	--size966px: 966px;
	--size972px: 972px;
	--size978px: 978px;
	--size984px: 984px;
	--size990px: 990px;
	--size996px: 996px;
	--size1002px: 1002px;
	--size1008px: 1008px;
	--size1014px: 1014px;
	--size1020px: 1020px;
	--size1026px: 1026px;
	--size1032px: 1032px;
	--size1038px: 1038px;
	--size1044px: 1044px;
	--size1050px: 1050px;
	--size1056px: 1056px;
	--size1062px: 1062px;
	--size1068px: 1068px;
	--size1074px: 1074px;
	--size1080px: 1080px;
	--size1086px: 1086px;
	--size1092px: 1092px;
	--size1098px: 1098px;
	--size1104px: 1104px;
	--size1110px: 1110px;
	--size1116px: 1116px;
	--size1122px: 1122px;
	--size1128px: 1128px;
	--size1134px: 1134px;
	--size1140px: 1140px;
	--size1146px: 1146px;
	--size1152px: 1152px;
	--size1158px: 1158px;
	--size1164px: 1164px;
	--size1170px: 1170px;
	--size1176px: 1176px;
	--size1182px: 1182px;
	--size1188px: 1188px;
	--size1194px: 1194px;
	--size1200px: 1200px;
	--size1206px: 1206px;
	--size1212px: 1212px;
	--size1218px: 1218px;
	--size1224px: 1224px;
	--size1230px: 1230px;
	--size1236px: 1236px;
	--size1242px: 1242px;
	--size1248px: 1248px;
	--size1254px: 1254px;
	--size1260px: 1260px;
	--size1266px: 1266px;
	--size1272px: 1272px;
	--size1278px: 1278px;
	--size1284px: 1284px;
	--size1290px: 1290px;
	--size1296px: 1296px;
	--size1302px: 1302px;
	--size1308px: 1308px;
	--size1314px: 1314px;
	--size1320px: 1320px;
	--size1326px: 1326px;
	--size1332px: 1332px;
	--size1338px: 1338px;
	--size1344px: 1344px;
	--size1350px: 1350px;
	--size1356px: 1356px;
	--size1362px: 1362px;
	--size1368px: 1368px;
	--size1374px: 1374px;
	--size1380px: 1380px;
	--size1386px: 1386px;
	--size1392px: 1392px;
	--size1398px: 1398px;
	--size1404px: 1404px;
	--size1410px: 1410px;
	--size1416px: 1416px;
	--size1422px: 1422px;
	--size1428px: 1428px;
	--size1434px: 1434px;
	--size1440px: 1440px;
	
	/* Fixed sizes */
	
	--fixedsize0px: 0px;
	--fixedsize6px: 6px;
	--fixedsize12px: 12px;
	--fixedsize18px: 18px;
	--fixedsize24px: 24px;
	--fixedsize30px: 30px;
	--fixedsize36px: 36px;
	--fixedsize42px: 42px;
	--fixedsize48px: 48px;
	--fixedsize54px: 54px;
	--fixedsize60px: 60px;
	--fixedsize66px: 66px;
	--fixedsize72px: 72px;
	--fixedsize78px: 78px;
	--fixedsize84px: 84px;
	--fixedsize90px: 90px;
	--fixedsize96px: 96px;
	--fixedsize102px: 102px;
	--fixedsize108px: 108px;
	--fixedsize114px: 114px;
	--fixedsize120px: 120px;
	--fixedsize126px: 126px;
	--fixedsize132px: 132px;
	--fixedsize138px: 138px;
	--fixedsize144px: 144px;
	--fixedsize150px: 150px;
	--fixedsize156px: 156px;
	--fixedsize162px: 162px;
	--fixedsize168px: 168px;
	--fixedsize174px: 174px;
	--fixedsize180px: 180px;
	--fixedsize186px: 186px;
	--fixedsize192px: 192px;
	--fixedsize198px: 198px;
	--fixedsize204px: 204px;
	--fixedsize210px: 210px;
	--fixedsize216px: 216px;
	--fixedsize222px: 222px;
	--fixedsize228px: 228px;
	--fixedsize234px: 234px;
	--fixedsize240px: 240px;
	--fixedsize246px: 246px;
	--fixedsize252px: 252px;
	--fixedsize258px: 258px;
	--fixedsize264px: 264px;
	--fixedsize270px: 270px;
	--fixedsize276px: 276px;
	--fixedsize282px: 282px;
	--fixedsize288px: 288px;
	--fixedsize294px: 294px;
	--fixedsize300px: 300px;
	--fixedsize306px: 306px;
	--fixedsize312px: 312px;
	--fixedsize318px: 318px;
	--fixedsize324px: 324px;
	--fixedsize330px: 330px;
	--fixedsize336px: 336px;
	--fixedsize342px: 342px;
	--fixedsize348px: 348px;
	--fixedsize354px: 354px;
	--fixedsize360px: 360px;
	--fixedsize366px: 366px;
	--fixedsize372px: 372px;
	--fixedsize378px: 378px;
	--fixedsize384px: 384px;
	--fixedsize390px: 390px;
	--fixedsize396px: 396px;
	--fixedsize402px: 402px;
	--fixedsize408px: 408px;
	--fixedsize414px: 414px;
	--fixedsize420px: 420px;
	--fixedsize426px: 426px;
	--fixedsize432px: 432px;
	--fixedsize438px: 438px;
	--fixedsize444px: 444px;
	--fixedsize450px: 450px;
	--fixedsize456px: 456px;
	--fixedsize462px: 462px;
	--fixedsize468px: 468px;
	--fixedsize474px: 474px;
	--fixedsize480px: 480px;
	--fixedsize486px: 486px;
	--fixedsize492px: 492px;
	--fixedsize498px: 498px;
	--fixedsize504px: 504px;
	--fixedsize510px: 510px;
	--fixedsize516px: 516px;
	--fixedsize522px: 522px;
	--fixedsize528px: 528px;
	--fixedsize534px: 534px;
	--fixedsize540px: 540px;
	--fixedsize546px: 546px;
	--fixedsize552px: 552px;
	--fixedsize558px: 558px;
	--fixedsize564px: 564px;
	--fixedsize570px: 570px;
	--fixedsize576px: 576px;
	--fixedsize582px: 582px;
	--fixedsize588px: 588px;
	--fixedsize594px: 594px;
	--fixedsize600px: 600px;
	--fixedsize606px: 606px;
	--fixedsize612px: 612px;
	--fixedsize618px: 618px;
	--fixedsize624px: 624px;
	--fixedsize630px: 630px;
	--fixedsize636px: 636px;
	--fixedsize642px: 642px;
	--fixedsize648px: 648px;
	--fixedsize654px: 654px;
	--fixedsize660px: 660px;
	--fixedsize666px: 666px;
	--fixedsize672px: 672px;
	--fixedsize678px: 678px;
	--fixedsize684px: 684px;
	--fixedsize690px: 690px;
	--fixedsize696px: 696px;
	--fixedsize702px: 702px;
	--fixedsize708px: 708px;
	--fixedsize714px: 714px;
	--fixedsize720px: 720px;
	--fixedsize726px: 726px;
	--fixedsize732px: 732px;
	--fixedsize738px: 738px;
	--fixedsize744px: 744px;
	--fixedsize750px: 750px;
	--fixedsize756px: 756px;
	--fixedsize762px: 762px;
	--fixedsize768px: 768px;
	--fixedsize774px: 774px;
	--fixedsize780px: 780px;
	--fixedsize786px: 786px;
	--fixedsize792px: 792px;
	--fixedsize798px: 798px;
	--fixedsize804px: 804px;
	--fixedsize810px: 810px;
	--fixedsize816px: 816px;
	--fixedsize822px: 822px;
	--fixedsize828px: 828px;
	--fixedsize834px: 834px;
	--fixedsize840px: 840px;
	--fixedsize846px: 846px;
	--fixedsize852px: 852px;
	--fixedsize858px: 858px;
	--fixedsize864px: 864px;
	--fixedsize870px: 870px;
	--fixedsize876px: 876px;
	--fixedsize882px: 882px;
	--fixedsize888px: 888px;
	--fixedsize894px: 894px;
	--fixedsize900px: 900px;
	--fixedsize906px: 906px;
	--fixedsize912px: 912px;
	--fixedsize918px: 918px;
	--fixedsize924px: 924px;
	--fixedsize930px: 930px;
	--fixedsize936px: 936px;
	--fixedsize942px: 942px;
	--fixedsize948px: 948px;
	--fixedsize954px: 954px;
	--fixedsize960px: 960px;
	--fixedsize966px: 966px;
	--fixedsize972px: 972px;
	--fixedsize978px: 978px;
	--fixedsize984px: 984px;
	--fixedsize990px: 990px;
	--fixedsize996px: 996px;
	--fixedsize1002px: 1002px;
	--fixedsize1008px: 1008px;
	--fixedsize1014px: 1014px;
	--fixedsize1020px: 1020px;
	--fixedsize1026px: 1026px;
	--fixedsize1032px: 1032px;
	--fixedsize1038px: 1038px;
	--fixedsize1044px: 1044px;
	--fixedsize1050px: 1050px;
	--fixedsize1056px: 1056px;
	--fixedsize1062px: 1062px;
	--fixedsize1068px: 1068px;
	--fixedsize1074px: 1074px;
	--fixedsize1080px: 1080px;
	--fixedsize1086px: 1086px;
	--fixedsize1092px: 1092px;
	--fixedsize1098px: 1098px;
	--fixedsize1104px: 1104px;
	--fixedsize1110px: 1110px;
	--fixedsize1116px: 1116px;
	--fixedsize1122px: 1122px;
	--fixedsize1128px: 1128px;
	--fixedsize1134px: 1134px;
	--fixedsize1140px: 1140px;
	--fixedsize1146px: 1146px;
	--fixedsize1152px: 1152px;
	--fixedsize1158px: 1158px;
	--fixedsize1164px: 1164px;
	--fixedsize1170px: 1170px;
	--fixedsize1176px: 1176px;
	--fixedsize1182px: 1182px;
	--fixedsize1188px: 1188px;
	--fixedsize1194px: 1194px;
	--fixedsize1200px: 1200px;
	--fixedsize1206px: 1206px;
	--fixedsize1212px: 1212px;
	--fixedsize1218px: 1218px;
	--fixedsize1224px: 1224px;
	--fixedsize1230px: 1230px;
	--fixedsize1236px: 1236px;
	--fixedsize1242px: 1242px;
	--fixedsize1248px: 1248px;
	--fixedsize1254px: 1254px;
	--fixedsize1260px: 1260px;
	--fixedsize1266px: 1266px;
	--fixedsize1272px: 1272px;
	--fixedsize1278px: 1278px;
	--fixedsize1284px: 1284px;
	--fixedsize1290px: 1290px;
	--fixedsize1296px: 1296px;
	--fixedsize1302px: 1302px;
	--fixedsize1308px: 1308px;
	--fixedsize1314px: 1314px;
	--fixedsize1320px: 1320px;
	--fixedsize1326px: 1326px;
	--fixedsize1332px: 1332px;
	--fixedsize1338px: 1338px;
	--fixedsize1344px: 1344px;
	--fixedsize1350px: 1350px;
	--fixedsize1356px: 1356px;
	--fixedsize1362px: 1362px;
	--fixedsize1368px: 1368px;
	--fixedsize1374px: 1374px;
	--fixedsize1380px: 1380px;
	--fixedsize1386px: 1386px;
	--fixedsize1392px: 1392px;
	--fixedsize1398px: 1398px;
	--fixedsize1404px: 1404px;
	--fixedsize1410px: 1410px;
	--fixedsize1416px: 1416px;
	--fixedsize1422px: 1422px;
	--fixedsize1428px: 1428px;
	--fixedsize1434px: 1434px;
	--fixedsize1440px: 1440px;
	
	/* Breakpoints */
	
	--breakpoint1440: 1440px;
	--breakpoint768: 768px;
	
	/* Ratios */
	
	--ratio768to1440: calc(768 / 1440);
	
}

/* RESPONSIVENESS */

@media screen and (width < 768px ) {
	:root {
	
			/* Sizes */
			
			--size0px: calc( 0px * var(--ratio768to1440) );
			--size6px: calc( 6px * var(--ratio768to1440) );
			--size12px: calc( 12px * var(--ratio768to1440) );
			--size18px: calc( 18px * var(--ratio768to1440) );
			--size24px: calc( 24px * var(--ratio768to1440) );
			--size30px: calc( 30px * var(--ratio768to1440) );
			--size36px: calc( 36px * var(--ratio768to1440) );
			--size42px: calc( 42px * var(--ratio768to1440) );
			--size48px: calc( 48px * var(--ratio768to1440) );
			--size54px: calc( 54px * var(--ratio768to1440) );
			--size60px: calc( 60px * var(--ratio768to1440) );
			--size66px: calc( 66px * var(--ratio768to1440) );
			--size72px: calc( 72px * var(--ratio768to1440) );
			--size78px: calc( 78px * var(--ratio768to1440) );
			--size84px: calc( 84px * var(--ratio768to1440) );
			--size90px: calc( 90px * var(--ratio768to1440) );
			--size96px: calc( 96px * var(--ratio768to1440) );
			--size102px: calc( 102px * var(--ratio768to1440) );
			--size108px: calc( 108px * var(--ratio768to1440) );
			--size114px: calc( 114px * var(--ratio768to1440) );
			--size120px: calc( 120px * var(--ratio768to1440) );
			--size126px: calc( 126px * var(--ratio768to1440) );
			--size132px: calc( 132px * var(--ratio768to1440) );
			--size138px: calc( 138px * var(--ratio768to1440) );
			--size144px: calc( 144px * var(--ratio768to1440) );
			--size150px: calc( 150px * var(--ratio768to1440) );
			--size156px: calc( 156px * var(--ratio768to1440) );
			--size162px: calc( 162px * var(--ratio768to1440) );
			--size168px: calc( 168px * var(--ratio768to1440) );
			--size174px: calc( 174px * var(--ratio768to1440) );
			--size180px: calc( 180px * var(--ratio768to1440) );
			--size186px: calc( 186px * var(--ratio768to1440) );
			--size192px: calc( 192px * var(--ratio768to1440) );
			--size198px: calc( 198px * var(--ratio768to1440) );
			--size204px: calc( 204px * var(--ratio768to1440) );
			--size210px: calc( 210px * var(--ratio768to1440) );
			--size216px: calc( 216px * var(--ratio768to1440) );
			--size222px: calc( 222px * var(--ratio768to1440) );
			--size228px: calc( 228px * var(--ratio768to1440) );
			--size234px: calc( 234px * var(--ratio768to1440) );
			--size240px: calc( 240px * var(--ratio768to1440) );
			--size246px: calc( 246px * var(--ratio768to1440) );
			--size252px: calc( 252px * var(--ratio768to1440) );
			--size258px: calc( 258px * var(--ratio768to1440) );
			--size264px: calc( 264px * var(--ratio768to1440) );
			--size270px: calc( 270px * var(--ratio768to1440) );
			--size276px: calc( 276px * var(--ratio768to1440) );
			--size282px: calc( 282px * var(--ratio768to1440) );
			--size288px: calc( 288px * var(--ratio768to1440) );
			--size294px: calc( 294px * var(--ratio768to1440) );
			--size300px: calc( 300px * var(--ratio768to1440) );
			--size306px: calc( 306px * var(--ratio768to1440) );
			--size312px: calc( 312px * var(--ratio768to1440) );
			--size318px: calc( 318px * var(--ratio768to1440) );
			--size324px: calc( 324px * var(--ratio768to1440) );
			--size330px: calc( 330px * var(--ratio768to1440) );
			--size336px: calc( 336px * var(--ratio768to1440) );
			--size342px: calc( 342px * var(--ratio768to1440) );
			--size348px: calc( 348px * var(--ratio768to1440) );
			--size354px: calc( 354px * var(--ratio768to1440) );
			--size360px: calc( 360px * var(--ratio768to1440) );
			--size366px: calc( 366px * var(--ratio768to1440) );
			--size372px: calc( 372px * var(--ratio768to1440) );
			--size378px: calc( 378px * var(--ratio768to1440) );
			--size384px: calc( 384px * var(--ratio768to1440) );
			--size390px: calc( 390px * var(--ratio768to1440) );
			--size396px: calc( 396px * var(--ratio768to1440) );
			--size402px: calc( 402px * var(--ratio768to1440) );
			--size408px: calc( 408px * var(--ratio768to1440) );
			--size414px: calc( 414px * var(--ratio768to1440) );
			--size420px: calc( 420px * var(--ratio768to1440) );
			--size426px: calc( 426px * var(--ratio768to1440) );
			--size432px: calc( 432px * var(--ratio768to1440) );
			--size438px: calc( 438px * var(--ratio768to1440) );
			--size444px: calc( 444px * var(--ratio768to1440) );
			--size450px: calc( 450px * var(--ratio768to1440) );
			--size456px: calc( 456px * var(--ratio768to1440) );
			--size462px: calc( 462px * var(--ratio768to1440) );
			--size468px: calc( 468px * var(--ratio768to1440) );
			--size474px: calc( 474px * var(--ratio768to1440) );
			--size480px: calc( 480px * var(--ratio768to1440) );
			--size486px: calc( 486px * var(--ratio768to1440) );
			--size492px: calc( 492px * var(--ratio768to1440) );
			--size498px: calc( 498px * var(--ratio768to1440) );
			--size504px: calc( 504px * var(--ratio768to1440) );
			--size510px: calc( 510px * var(--ratio768to1440) );
			--size516px: calc( 516px * var(--ratio768to1440) );
			--size522px: calc( 522px * var(--ratio768to1440) );
			--size528px: calc( 528px * var(--ratio768to1440) );
			--size534px: calc( 534px * var(--ratio768to1440) );
			--size540px: calc( 540px * var(--ratio768to1440) );
			--size546px: calc( 546px * var(--ratio768to1440) );
			--size552px: calc( 552px * var(--ratio768to1440) );
			--size558px: calc( 558px * var(--ratio768to1440) );
			--size564px: calc( 564px * var(--ratio768to1440) );
			--size570px: calc( 570px * var(--ratio768to1440) );
			--size576px: calc( 576px * var(--ratio768to1440) );
			--size582px: calc( 582px * var(--ratio768to1440) );
			--size588px: calc( 588px * var(--ratio768to1440) );
			--size594px: calc( 594px * var(--ratio768to1440) );
			--size600px: calc( 600px * var(--ratio768to1440) );
			--size606px: calc( 606px * var(--ratio768to1440) );
			--size612px: calc( 612px * var(--ratio768to1440) );
			--size618px: calc( 618px * var(--ratio768to1440) );
			--size624px: calc( 624px * var(--ratio768to1440) );
			--size630px: calc( 630px * var(--ratio768to1440) );
			--size636px: calc( 636px * var(--ratio768to1440) );
			--size642px: calc( 642px * var(--ratio768to1440) );
			--size648px: calc( 648px * var(--ratio768to1440) );
			--size654px: calc( 654px * var(--ratio768to1440) );
			--size660px: calc( 660px * var(--ratio768to1440) );
			--size666px: calc( 666px * var(--ratio768to1440) );
			--size672px: calc( 672px * var(--ratio768to1440) );
			--size678px: calc( 678px * var(--ratio768to1440) );
			--size684px: calc( 684px * var(--ratio768to1440) );
			--size690px: calc( 690px * var(--ratio768to1440) );
			--size696px: calc( 696px * var(--ratio768to1440) );
			--size702px: calc( 702px * var(--ratio768to1440) );
			--size708px: calc( 708px * var(--ratio768to1440) );
			--size714px: calc( 714px * var(--ratio768to1440) );
			--size720px: calc( 720px * var(--ratio768to1440) );
			--size726px: calc( 726px * var(--ratio768to1440) );
			--size732px: calc( 732px * var(--ratio768to1440) );
			--size738px: calc( 738px * var(--ratio768to1440) );
			--size744px: calc( 744px * var(--ratio768to1440) );
			--size750px: calc( 750px * var(--ratio768to1440) );
			--size756px: calc( 756px * var(--ratio768to1440) );
			--size762px: calc( 762px * var(--ratio768to1440) );
			--size768px: calc( 768px * var(--ratio768to1440) );
			--size774px: calc( 774px * var(--ratio768to1440) );
			--size780px: calc( 780px * var(--ratio768to1440) );
			--size786px: calc( 786px * var(--ratio768to1440) );
			--size792px: calc( 792px * var(--ratio768to1440) );
			--size798px: calc( 798px * var(--ratio768to1440) );
			--size804px: calc( 804px * var(--ratio768to1440) );
			--size810px: calc( 810px * var(--ratio768to1440) );
			--size816px: calc( 816px * var(--ratio768to1440) );
			--size822px: calc( 822px * var(--ratio768to1440) );
			--size828px: calc( 828px * var(--ratio768to1440) );
			--size834px: calc( 834px * var(--ratio768to1440) );
			--size840px: calc( 840px * var(--ratio768to1440) );
			--size846px: calc( 846px * var(--ratio768to1440) );
			--size852px: calc( 852px * var(--ratio768to1440) );
			--size858px: calc( 858px * var(--ratio768to1440) );
			--size864px: calc( 864px * var(--ratio768to1440) );
			--size870px: calc( 870px * var(--ratio768to1440) );
			--size876px: calc( 876px * var(--ratio768to1440) );
			--size882px: calc( 882px * var(--ratio768to1440) );
			--size888px: calc( 888px * var(--ratio768to1440) );
			--size894px: calc( 894px * var(--ratio768to1440) );
			--size900px: calc( 900px * var(--ratio768to1440) );
			--size906px: calc( 906px * var(--ratio768to1440) );
			--size912px: calc( 912px * var(--ratio768to1440) );
			--size918px: calc( 918px * var(--ratio768to1440) );
			--size924px: calc( 924px * var(--ratio768to1440) );
			--size930px: calc( 930px * var(--ratio768to1440) );
			--size936px: calc( 936px * var(--ratio768to1440) );
			--size942px: calc( 942px * var(--ratio768to1440) );
			--size948px: calc( 948px * var(--ratio768to1440) );
			--size954px: calc( 954px * var(--ratio768to1440) );
			--size960px: calc( 960px * var(--ratio768to1440) );
			--size966px: calc( 966px * var(--ratio768to1440) );
			--size972px: calc( 972px * var(--ratio768to1440) );
			--size978px: calc( 978px * var(--ratio768to1440) );
			--size984px: calc( 984px * var(--ratio768to1440) );
			--size990px: calc( 990px * var(--ratio768to1440) );
			--size996px: calc( 996px * var(--ratio768to1440) );
			--size1002px: calc( 1002px * var(--ratio768to1440) );
			--size1008px: calc( 1008px * var(--ratio768to1440) );
			--size1014px: calc( 1014px * var(--ratio768to1440) );
			--size1020px: calc( 1020px * var(--ratio768to1440) );
			--size1026px: calc( 1026px * var(--ratio768to1440) );
			--size1032px: calc( 1032px * var(--ratio768to1440) );
			--size1038px: calc( 1038px * var(--ratio768to1440) );
			--size1044px: calc( 1044px * var(--ratio768to1440) );
			--size1050px: calc( 1050px * var(--ratio768to1440) );
			--size1056px: calc( 1056px * var(--ratio768to1440) );
			--size1062px: calc( 1062px * var(--ratio768to1440) );
			--size1068px: calc( 1068px * var(--ratio768to1440) );
			--size1074px: calc( 1074px * var(--ratio768to1440) );
			--size1080px: calc( 1080px * var(--ratio768to1440) );
			--size1086px: calc( 1086px * var(--ratio768to1440) );
			--size1092px: calc( 1092px * var(--ratio768to1440) );
			--size1098px: calc( 1098px * var(--ratio768to1440) );
			--size1104px: calc( 1104px * var(--ratio768to1440) );
			--size1110px: calc( 1110px * var(--ratio768to1440) );
			--size1116px: calc( 1116px * var(--ratio768to1440) );
			--size1122px: calc( 1122px * var(--ratio768to1440) );
			--size1128px: calc( 1128px * var(--ratio768to1440) );
			--size1134px: calc( 1134px * var(--ratio768to1440) );
			--size1140px: calc( 1140px * var(--ratio768to1440) );
			--size1146px: calc( 1146px * var(--ratio768to1440) );
			--size1152px: calc( 1152px * var(--ratio768to1440) );
			--size1158px: calc( 1158px * var(--ratio768to1440) );
			--size1164px: calc( 1164px * var(--ratio768to1440) );
			--size1170px: calc( 1170px * var(--ratio768to1440) );
			--size1176px: calc( 1176px * var(--ratio768to1440) );
			--size1182px: calc( 1182px * var(--ratio768to1440) );
			--size1188px: calc( 1188px * var(--ratio768to1440) );
			--size1194px: calc( 1194px * var(--ratio768to1440) );
			--size1200px: calc( 1200px * var(--ratio768to1440) );
			--size1206px: calc( 1206px * var(--ratio768to1440) );
			--size1212px: calc( 1212px * var(--ratio768to1440) );
			--size1218px: calc( 1218px * var(--ratio768to1440) );
			--size1224px: calc( 1224px * var(--ratio768to1440) );
			--size1230px: calc( 1230px * var(--ratio768to1440) );
			--size1236px: calc( 1236px * var(--ratio768to1440) );
			--size1242px: calc( 1242px * var(--ratio768to1440) );
			--size1248px: calc( 1248px * var(--ratio768to1440) );
			--size1254px: calc( 1254px * var(--ratio768to1440) );
			--size1260px: calc( 1260px * var(--ratio768to1440) );
			--size1266px: calc( 1266px * var(--ratio768to1440) );
			--size1272px: calc( 1272px * var(--ratio768to1440) );
			--size1278px: calc( 1278px * var(--ratio768to1440) );
			--size1284px: calc( 1284px * var(--ratio768to1440) );
			--size1290px: calc( 1290px * var(--ratio768to1440) );
			--size1296px: calc( 1296px * var(--ratio768to1440) );
			--size1302px: calc( 1302px * var(--ratio768to1440) );
			--size1308px: calc( 1308px * var(--ratio768to1440) );
			--size1314px: calc( 1314px * var(--ratio768to1440) );
			--size1320px: calc( 1320px * var(--ratio768to1440) );
			--size1326px: calc( 1326px * var(--ratio768to1440) );
			--size1332px: calc( 1332px * var(--ratio768to1440) );
			--size1338px: calc( 1338px * var(--ratio768to1440) );
			--size1344px: calc( 1344px * var(--ratio768to1440) );
			--size1350px: calc( 1350px * var(--ratio768to1440) );
			--size1356px: calc( 1356px * var(--ratio768to1440) );
			--size1362px: calc( 1362px * var(--ratio768to1440) );
			--size1368px: calc( 1368px * var(--ratio768to1440) );
			--size1374px: calc( 1374px * var(--ratio768to1440) );
			--size1380px: calc( 1380px * var(--ratio768to1440) );
			--size1386px: calc( 1386px * var(--ratio768to1440) );
			--size1392px: calc( 1392px * var(--ratio768to1440) );
			--size1398px: calc( 1398px * var(--ratio768to1440) );
			--size1404px: calc( 1404px * var(--ratio768to1440) );
			--size1410px: calc( 1410px * var(--ratio768to1440) );
			--size1416px: calc( 1416px * var(--ratio768to1440) );
			--size1422px: calc( 1422px * var(--ratio768to1440) );
			--size1428px: calc( 1428px * var(--ratio768to1440) );
			--size1434px: calc( 1434px * var(--ratio768to1440) );
			--size1440px: calc( 1440px * var(--ratio768to1440) );
			
	}
}