/*
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:flex-start;
	align-content:flex-start;
 */

body {
	font-size:10px;
	margin:0 auto;
	font-family:PP Object Sans, sans-serif;
	max-width:1440px;
}

.container:before {
	content:'';
	display:none;
	width:1px;
	height:10vh;
	background:mediumslateblue;
	position:absolute;
	top:0px;
	left:50%;
	z-index:1000;
	
}

b {font-family:'PP Object Sans Heavy'}


/* variables */

:root[data-scheme="light"]{
	--main-bg-color: brown;
}

/* end variables */

/* common denominators */
:root {

}

.section {
	width:100%;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;
}

/* end common denominators */

.container {
	margin:0 auto;
	width:100%;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;
	position:relative;
}



.section.navigation {
	z-index:100;
	top:0;
	width:100%;
	position:sticky;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items:stretch;
	align-content: stretch;
	background: linear-gradient(360deg, rgba(212, 184, 219, 0.50) 0%, rgba(165, 170, 195, 0.50) 100%);
	backdrop-filter: blur(24px);
	font-size:14px;
	color:#fff;
	box-shadow: 0 10px 40px -25px #272B40;
}

.section.navigation * {
	transition:all 0.25s ease;
}

.navContainer {
	margin:6px 96px;
	width:100%;
	background:;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items:center;
	align-content: center;
	gap:12px;
}

.navLink {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
	align-items:center;
	align-content:center;
	flex-grow:1;
	position:relative;
	padding:12px 12px;
	cursor: pointer;
	background:;
	border-radius:24px;
	border:1px solid transparent;
	height:18px;
	text-align: center;
	white-space: nowrap;
}

.navLink.current:after {
	content:'';
	position:absolute;
	background:#fff;
	width:100%;
	height:4px;
	border-radius:0%;
	bottom:-11px;
	left:0;
	animation-name:navlinkIn;
	animation-duration:0.35s;
}

@keyframes navlinkIn {
	from {opacity:0}
	to {opacity:100}
}

.navLink.hamburger {
	display:none;
	height:16px;
	width:16px;
	flex-grow:0;
	padding:12px 16px;
}

.navLink.hamburger img {
	height:16px;
	width:16px;
	margin:0 auto;
}

.navLink.logo img {
	height:16px;
	width:auto;
	margin:0 0 -2px 0;
}

.navLink.button {
	border:1px solid #fff;
}


@media screen and (width < 1440px) {

	.navContainer {
		margin:6px 12px;
	}
	
	.navLink {
		flex-grow:0;
		padding:12px 24px;
		flex-basis:100px;
	}
	.navLink.standard {
		display:none
	}
	.navLink.hamburger {
		display:block;
	}

}





.navLink:hover {
	background:deepskyblue;
}


.section.navigation > .navLink.mobileMenu {
	display:none;
}



.section.introduction {
	position: relative;
	height: 840px;
	background-image: url(/res/i/grandhouse_leto-viz01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	padding: 96px 0 0 0;
}



.section.introduction:before {
	position:absolute;
	content:'';
	background: linear-gradient(180deg, rgba(1, 89, 5, 0.00) 80%, rgba(1, 89, 5, 0.60) 90%);
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
}


/* ********************************* */

.section.footer {
	background:red;
	width:;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	align-content:center;
	font-family:PP Object sans;
	color:#fff;
	background:#000;
	padding-top:144px;
}


.footerSocialText {
	font-size:24px;
	line-height:36px;
	margin:0 auto;
	text-align:center;
	margin-bottom:12px;
}

.footerSocialButtonsContainer {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap:24px;
}

.footerSocialButton {
	background-image:url("/res/i/icon_social.png");
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	width:72px;
	height:72px;
	position:relative;
	transition:all 0.2s ease;
	cursor:pointer;
}

.footerSocialButton:hover{
	transform:scale(0.95)
}

.footerSocialButton.telegram {
	background-image:url("/res/i/icon_telegram.png")
}
.footerSocialButton.vk {
	background-image:url("/res/i/icon_vk.png")
}
.footerSocialButton.youtube {
	background-image:url("/res/i/icon_youtube.png")
}
.footerSocialButton.dzen {
	background-image:url("/res/i/icon_dzen.png")
}
.footerSocialButton.instagram {
	background-image:url("/res/i/icon_instagram.png")
}

.footerLogo {
	margin:48px 0px 12px 0px;
	opacity:0.5;
	user-select:none;
}

.footerLogo img {
	width:700px;
}

.footerTagline {
	padding:0px;
	font-size:36px;
	line-height:38px;
	text-align:center;

}

.smallcaps {
	font-size:12px;
	text-transform:uppercase;
	background:#111;
	padding
}

.footerContactsContainer {
color:#666;
border: 1px solid #333;
padding:24px 48px;
border-radius:24px;
max-width:720px;
	font-size:14px;
	line-height:24px;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	gap:24px;
	margin:48px 24px 48px 24px;
}

.footerContactsItem p.space {
	margin-bottom:24px;
}

.footerContactsItem p.large {
	font-size:24px
}

.footerContactsItem {
	width:360px;
}

a {color:inherit;text-decoration:none;border-bottom:1px solid #666;}






















