/* *********************** STYLE *********************** */


a {
	color:inherit;
	text-decoration:underline;
}


/* GLOBALS */

*, *:before, *:after {
transition: 0.1s all ease;
}

.hide {
	display:none !important;
}

/* END GLOBALS */


/* FONT STYLES */

.title, .text, .name, .button {
	font-family: PP Object Sans;
}

b {
	font-weight:bold
}

/* END FONT STYLES */







/* FLEX COMPONENTS */

/* Flex Column Horizontal Left */


/* Flex Column Horizontal Center */

.section.company, .companyContainer,
.companyText, .companySlider
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	
	position: relative;
}

/* Flex Row Horizontal Center Space Between */

.companyItem
{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items:center;
	align-content:flex-start;
}

/* Flex Row Horizontal Center Space Between */

/* END FLEX COMPONENTS */


/* LAYOUT */







.section.history {}


.historyDescription > .text {

}






















.section.price {}
.section.mortgage {}
.section.outro {}



.header.company {
	background:#eee;
}

.section.company {
	padding:var(--size48px) var(--size96px);
		background:#eee;
}

.section

.companyContainer {
	gap:var(--size24px);

}

.companyItem {
	align-self:stretch;
	gap:var(--size24px);
}

.companyItem:nth-child(even) > .companyText{
	order:1; /* every even item reverses text and slider order */
}

.companyText, .companySlider {
	flex:1 1 0;
	align-items:stretch;
}

.companyText {

}

.companyText > .text {
	font-size:var(--fontSize-2436);
	line-height:var(--lineHeight-2436);
	text-align:right;
	padding:var(--size48px);
	z-index:2
}

.companyItem:nth-child(even) > .companyText > .text {
	text-align:left;
}

.companyText > .text.right {

}

.companySlider {
	min-height:360px;
	border: var(--size12px) solid #B5E4FF;
	border-radius:var(--borderRadius-48);
	background:#fff;
}

.companySliderControls {

}

.companySliderItem {

}

.companyItem.full {
	border-radius:var(--borderRadius-48);
	background:#fff;
	margin-top:var(--size48px)
}

.companyItem.full > .companyText {
	padding:var(--size48px);
	position:relative;
}

.companyText.full:before {
	position:absolute;
	content:'';
	background:red;
	width:30%;
	height:120%;
	bottom:0;
	right:var(--size48px);
	z-index:;
	
}

.companyText.full > .title {

}

.companyText.full > .text {
	text-align:left;
	padding:0;
}

.companyText.full > .name {

	text-align:left;
}



















/* absolutes */

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.background:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

/* end absolutes */










/* SECTION HISTORY */

.header.history {
	background: #E8EDF5;

}

.section.history {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size48px) var(--size96px);
	
	gap:var(--size48px);
	
	background:#E8EDF5;

}

/* END SECTION HISTORY */


/* SECTION FLOORPLAN */

.header.floorplan {
	background: #E8EDF5;
}

.section.floorplan {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size48px) var(--size96px);
	
	gap:var(--size48px);
	
	background:#E8EDF5;

}

.floorplanPlans {
	background:lavender;
	height:500px;
}

/* END SECTION FLOORPLAN */

/* SECTION INTERIOR */

.header.interior {
	background: darkslateblue;
}

.section.interior {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size48px) var(--size96px);
	
	gap:var(--size48px);
	
	background:darkslateblue;
	
}

.interiorGallery {

	position:relative;

	height:500px;
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	margin-bottom:48px;

}

.galleryItem {

	flex:1 1 0;
	position:relative; /* Required for zoom component */
	
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	
}

.galleryItem:nth-of-type(odd) {
	background:skyblue;
}

.galleryItem:nth-of-type(even) {
	background:lightgreen;
}

/* END SECTION INTERIOR */

/* SECTION EXTERIOR */

.header.exterior {
	background: #E8EDF5;
}

.section.exterior {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size48px) var(--size96px);
	
	gap:var(--size48px);
	
	background:#E8EDF5;
	
}

.exteriorMaterials {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content:center;
	
	gap:var(--size24px);
}

.material {
	flex:1 1 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	
	position: relative;
	
	gap:var(--size6px);
	
	text-align: center;

}

.material > .title  {
	font-size:var(--fontSize-1416);
	line-height:var(--lineHeight-1416);
}

.material > .text {
	font-size:var(--fontSize-2436);
	lineHeight:var(--fontSize-2436);
}

.material > .image {
	min-height:var(--size144px);
	background:lime;
	border-radius:var(--borderRadius-24)
}


/* END SECTION EXTERIOR */

/* SECTION CONSTRUCTIVE */

.header.constructive {
	background: #E8EDF5;
}

.section.constructive {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size48px) var(--size96px);
	
	gap:var(--size48px);
	
	background:#E8EDF5;

}

.constructiveAxes {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content:center;
	
	gap:var(--size24px);

}

.axis {

	flex:1 1 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	
	position: relative;
	
	gap:var(--size6px);
	
	text-align: center;

}

.axis > .image {
	min-height:var(--size240px);
	background:lime;
	border-radius:var(--borderRadius-24)
}

.axis > .title  {
	font-size:var(--fontSize-1416);
	line-height:var(--lineHeight-1416);
}


.constructiveDetails {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content:center;
	
	gap:var(--size24px);

}

.constructiveDetails:after {

	content:'';
	position:absolute;
	width:50%;
	height:50%;
	background: conic-gradient(from 180deg at 50% 50%, #BEEFFF 0deg, #00B2FF 116.24999642372131deg, #00C2FF 211.87500715255737deg, #001AFF 286.875deg, #A300A7 360deg);
	filter: blur(250px);
	z-index:0;

}

.detail {

	flex:1 1 40%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	
	position: relative;
	z-index:1;
	gap:var(--size6px);
	
	padding:48px;
	
	border-radius:var(--size24px);
	
	background: linear-gradient(0deg, rgba(133, 211, 241, 0.80) 0%, rgba(70, 185, 221, 0.80) 100%);

	box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(37.5px);
}

.detail > .title  {
	font-size:var(--fontSize-4862);
	line-height:var(--lineHeight-4862);
	color:#fff;
}

.detail > .text  {
	font-size:var(--fontSize-2436);
	line-height:var(--lineHeight-2436);
}

.constructiveInfo {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content:center;
	
	gap:var(--size24px);

}

.infoTableItem {

	flex:1 1 40%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
	
	position: relative;
	z-index:1;
	gap:var(--sizepx);
	
	padding:0px 48px;

}

.infoTableItem > .text {

	font-size:var(--fontSize-1416);
	line-height:var(--lineHeight-1416);

}

.infoTableItem > .text > p {

	margin-bottom:12px;

}

.infoTableItem > .text > p:last-of-type {

	margin-bottom:0px;

}


/* END SECTION CONSTRUCTIVE */

/* *********************** END STYLE *********************** */



/* SECTION SHOWCASE */

.section.showcase {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size96px) var(--size96px);
	
	gap:var(--size48px);

}

.section.showcase > .background, .section.showcase > .gradient {

	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
	
	/* Backgrounds are defined inline */
	
}

.section.showcase > .background {

	z-index:-2;
	
}

.section.showcase > .gradient {

	z-index:-1;
	
}

.section.showcase:before {
	content:'';
	position:absolute;
	top:var(--size48px);
	left:var(--size48px);
	height:calc( 100% - var(--size96px) );
	width:calc( 100% - var(--size96px) );
	border:1px solid #fff;
	border-radius:var(--borderRadius-48);

}




.showcaseSlider {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	border-radius:var(--borderRadius-24);


}

.showcaseSlider .sliderControl {
	
	position:absolute;
	width:100%;
	height:100%;
	
	left:calc( var(--size48px) * -1);
	top:calc( var(--size48px) * -1);
	height:calc(100% + var(--size96px));
	width:calc(100% + var(--size96px));

}

.sliderControl > .arrowLeft, .sliderControl > .arrowRight  {

	position:absolute;
	display:block;
	width:var(--fixedsize48px);
	height:var(--fixedsize48px);
	top:calc( 50% - var(--fixedsize24px) );
	background:#fff;
	z-index:90;
	border-radius:100%;
	cursor: pointer;

}

.sliderControl > .arrowLeft:hover, .sliderControl > .arrowRight:hover {

	background:#eee;

}

.sliderControl > .arrowLeft {

	left:calc( var(--fixedsize24px) * -1);

}

.sliderControl > .arrowRight {

	right:calc( var(--fixedsize24px) * -1);

}

.sliderControl > .arrowLeft:after, .sliderControl > .arrowRight:after {

	content:'';
	position:absolute;
	top:12px;
	width:var(--fixedsize24px);
	height:var(--fixedsize24px);
	background-size: contain;
	background-position:center center;
	background-repeat:no-repeat;
	
}

.sliderControl > .arrowLeft:after {

	left:10px;
	background-image:url('/res/i/component_slider-arrowLeft.png');

}

.sliderControl > .arrowRight:after {

	right:10px;
	background-image:url('/res/i/component_slider-arrowRight.png');

}

.sliderControl > .selectors {

	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
	align-content:center;
	
	gap:var(--fixedsize6px);
	
	position:absolute;
	bottom:var(--size72px);
	width:var(--fixedsize144px);
	left:calc( 50% - var(--fixedsize72px) );
	z-index:90;
	cursor:pointer;

}

.selector {

	border:4px solid #fff;
	border-radius:100%;
	width:var(--fixedsize12px);
	height:var(--fixedsize12px);
	box-shadow:0 4px 10px -6px #000;
	
	
}

.selector:hover {

	background:#ccc !Important;

}

.selector.active {

	background:#eee;
	
}

.sliderContainer {

		display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	

	
	position:relative;
	
		height:100%;

}

.sliderContainer > .slide {

	align-self:stretch;

	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items:stretch;
	align-content:center;
	
	gap:var(--size24px);
	
	position:relative;
	

	
	color:#fff;

}

.slide > .picture {

	background-size: cover;
	background-position:center center;
	background-repeat:no-repeat;
	
	border-radius:var(--borderRadius-24);
	
	overflow:hidden;
	
	height:var(--size582px);

}

.slide > .text {

	font-size:var(--fontSize-2436);
	line-height:var(--lineHeight-2436);
	text-align:center;

}



/* END SECTION SHOWCASE */