/* BODY */

body {

	height:3000px;
	background:#eee;

}

/* MAIN CONTAINER */

#main

 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	
	position:relative;
	
	max-width:1440px;
	margin: 0 auto;
	position:relative;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}



/* NAVIGATION */

.section.navigation {

	background:pink;

	position:fixed;
	
	z-index:1000;

	width:100%;
	max-width:1440px;
	height:auto;
	
	top: 0px;
	left: 50%;
	transform: translateX(-50%);

	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;

	background:var(--color-light-white80opacity);
	backdrop-filter: blur(20px);
	box-shadow: 0 10px 15px -25px #272B40;
	
	overflow:hidden;


}

.navigationBar {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap; /* fix */
	justify-content: space-evenly;
	align-items:center;
	align-content:flex-start;
	
	padding:var(--size24px) var(--size48px);
	
	gap: var(--size6px); /* Excessive since gap is defined by space-evenly from parent */
}

.navigationItem {
	padding:var(--size6px) var(--size12px);
	border-radius:var(--borderRadius-12);
	cursor:pointer;
}

.navigationItem.button {
	padding:var(--size6px) var(--size12px);
	border-radius:var(--borderRadius-12);
	cursor:pointer;
	border:1px solid #eee;
}

.navigationItem > a .text {
	font-size:var(--fontSize-1616);
	line-height:var(--lineHeight-1616);
	white-space:nowrap;
	text-wrap: none;
	color:var(--color-dark-mainFull);
	height:16px;
}

.navigationItem:hover {
	background:lightskyblue;
}


/* SECTION INTRO */

.section.intro {
	width:100%;
	
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size0px) var(--size0px);
	
	gap:var(--size48px); /* Items are distributed vertically by parent 'space-between', but for the sake of order gap is defined as well*/
	
	height:80vh;
	
	max-height:var(--size912px);
	
	min-height:var(--size768px); /* Required to keep the sky */

}

.section.intro > .background, .section.intro > .gradient {

	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-size:cover;
	background-position:bottom center;
	background-repeat:no-repeat;
	
	/* Backgrounds are defined inline */
	
}

.section.intro > .background {

	z-index:-2;
	
}

.section.intro > .gradient {

	z-index:-1;
	
}


.introStats {

	align-self:stretch;
	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-items:flex-start;
	align-content:flex-start;
	
	padding:var(--size48px) var(--fixedsize96px);
	
	gap:var(--size12px);

	
}

.statItem {

	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
	
	gap:var(--size12px);
	
	color:#fff;

}

.statItem > .title {

	font-size:var(--fontSize-4862);
	line-height:var(--fontSize-4862); /* same LH as FS */

}

.statItem > .text {

	font-size:var(--fontSize-1824);
	line-height:var(--fontSize-1824); /* same LH as FS */
	

}

/* END SECTION INTRO */


/* SECTION FOOTER */


.section.footer {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	
	position: relative;
	
	background:var(--color-dark-mainFull);
	color:var(--color-dark-mainMid);
	padding:var(--size48px) var(--size96px);
	gap:var(--size24px);

}

.footerSocials {

	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	
	position: relative;
	
	gap:var(--size6px);

}

.socialsTitle > .text {

	font-size:var(--fontSize-2436);
	line-height:var(--lineHeight-2436);

}

.socialsButtons {

	display:flex;
	flex-direction:row;
	flew-wrap:wrap;
	justify-content:space-evenly;
	align-items:center;
	align-content:center;
	
	position:relative;
	
	gap:var(--size24px);

}

.socialsButtons > a {

	border:none;

}

.socialButton {

	height:var(--fixedsize48px);
	width:var(--fixedsize48px);
	
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;

}

.socialButton:hover {

	transform:scale(1.05);

}

.socialButton.telegram {

	background-image:url('/res/i/icon_telegram.png');

}

.socialButton.vk {

	background-image:url('/res/i/icon_vk.png');

}

.socialButton.youtube {

	background-image:url('/res/i/icon_youtube.png');

}

.socialButton.dzen {

	background-image:url('/res/i/icon_dzen.png');

}

.socialButton.instagram {

	background-image:url('/res/i/icon_instagram.png');

}



.footerLogoTagline {

	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	
	position: relative;
	
	gap:var(--size6px);

}

.footerLogo {
	
	background-image:url('/res/i/footer_logo.png');
	height:var(--size102px);
	width:var(--size720px);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;

}

.footerTagline > .text {

	font-size:var(--fontSize-3642);
	font-size:var(--lineHeight-3642);
	text-align:center;

}

.footerContacts {
	padding:var(--size36px) var(--size48px);
	gap:var(--size48px);
	border-radius:var(--borderRadius-48);
	border:1px solid var(--color-dark-mainMid);
	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	align-items:flex-start;
	align-content:flex-start;
}

.contactsColumn {
	flex:1 1 0;
	min-width:240px;
}

.contactsColumn > .text {
	font-size:var(--fontSize-1418);
	line-height:var(--lineHeight-1418);
}

.contactsColumn > .text p {
	margin-bottom:var(--lineHeight-1624);
}

.contactsColumn > .text p:last-of-type {
	margin-bottom:0;
}

.contactsColumn > .text p.phone {
	font-size:var(--fontSize-2432);
	line-height:var(--lineHeight-2432);
}

.footerMadeIn {

}

.footerMadeIn > .text {
	font-size:var(--fontSize-1416);
	line-height:var(--lineHeight-1416);
	text-align:center;
}
