/*

flex defaults

	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:flex-start;
	align-content:flex-start;
	
 */

.button {

}

.button{}

body {
	font-size:10px;
	margin:0 auto;
	font-family:PP Object Sans, sans-serif;
	max-width:1440px;
}

.container:before {
	content:'';
	display:;
	width:1px;
	height:100vh;
	background:mediumslateblue;
	position:absolute;
	top:0px;
	left:50%;
	z-index:1000;
	
}

b {font-family:'PP Object Sans Heavy'}


* {

}


/* variables */

:root[data-scheme="light"]{
	--main-bg-color: brown;
}

/* end variables */

/* common denominators */
:root {

}

.section {
	width:100%;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;
}

/* end common denominators */

.container {
	margin:0 auto;
	width:100%;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;
	position:relative;
}



.section.navigation {
	z-index:100;
	top:0;
	width:100%;
	position:sticky;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items:stretch;
	align-content: stretch;
	background: linear-gradient(360deg, rgba(212, 184, 219, 0.50) 0%, rgba(165, 170, 195, 0.50) 100%);
	backdrop-filter: blur(24px);
	font-size:14px;
	color:#fff;
	box-shadow: 0 10px 40px -25px #272B40;
}

.section.navigation * {
	transition:all 0.25s ease;
}

.navContainer {
	margin:6px 96px;
	width:100%;
	background:;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items:center;
	align-content: center;
	gap:12px;
}

.navLink {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
	align-items:center;
	align-content:center;
	flex-grow:1;
	position:relative;
	padding:12px 12px;
	cursor: pointer;
	background:;
	border-radius:24px;
	border:1px solid transparent;
	height:18px;
	text-align: center;
	white-space: nowrap;
}

.navLink.current:after {
	content:'';
	position:absolute;
	background:#fff;
	width:100%;
	height:4px;
	border-radius:0%;
	bottom:-11px;
	left:0;
	animation-name:navlinkIn;
	animation-duration:0.35s;
}

@keyframes navlinkIn {
	from {opacity:0}
	to {opacity:100}
}

.navLink.hamburger {
	display:none;
	height:16px;
	width:16px;
	flex-grow:0;
	padding:12px 16px;
}

.navLink.hamburger img {
	height:16px;
	width:16px;
	margin:0 auto;
}

.navLink.logo img {
	height:16px;
	width:auto;
	margin:0 0 -2px 0;
}

.navLink.button {
	border:1px solid #fff;
}


@media screen and (width < 1440px) {

	.navContainer {
		margin:6px 24px;
	}
	
	.navLink {
		flex-grow:0;
		padding:12px 24px;
		flex-basis:100px;
	}
	.navLink.standard {
		display:none
	}
	.navLink.hamburger {
		display:block;
	}

}





.navLink:hover {
	background:deepskyblue;
}


.section.navigation > .navLink.mobileMenu {
	display:none;
}



.section.introduction {
	position: relative;
	height: 840px;
	background-image: url(/res/i/grandhouse_leto-viz01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	padding: 96px 0 0 0;
}



.section.introduction:before {
	position:absolute;
	content:'';
	background: linear-gradient(180deg, rgba(1, 89, 5, 0.00) 80%, rgba(1, 89, 5, 0.60) 90%);
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
}

.header.container {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-items:center;
	align-content:center;
	width:calc(100% - 40px);
	background:;
}



.header.container:before {
	content:'';
	background:#fff;
	width:120px;
	height:12px;
	top:0;
	left:0;
	margin:20px 24px 0 0;
}



.header.container > .textContainer {
	z-index:2;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content:flex-start;
	background:;
	color:#272B40;
	margin:0 24px 0 0;
}

.header.container > .textContainer > .textSuper {
	font-size:14px;
	line-height:16px;
	letter-spacing:-0.5px;
	margin:0 0 6px 0;
}

.header.container > .textContainer > .textTitle {
	font-size:72px;
	line-height:84px;
	letter-spacing:-3px;
	margin:0 0 24px 0;
}

.header.container > .textContainer > .textDescription {
	font-size:24px;
	line-height:36px;
	margin:0 0 24px 0;
}

.header.container > .textContainer div:last-of-type {
	margin:0;
}

.header.container > .textContainer > .textDescription {
	max-width:552px;
}

.header.container > .downloadPDF {
	margin:20px 0 0 0;
display:flex;
justify-content: center;
	align-content:center;
	position:relative;
	font-size:14px;
	line-height:16px;
	border-radius:48px;
	border:1px solid #fff;
	padding:12px 12px 12px 56px;
		background-image:url("/res/i/icon_pdf.png");
	background-repeat:no-repeat;
	background-size:36px;
	background-position: 12px center;
	z-index:2;
		transition:all 0.25s ease;
		cursor:pointer;
}
.header.container > .downloadPDF:hover {
border:1px solid lime;
}

.section.introduction > .infographicContainer {
	width:calc(100% - (136px * 2));
	background:;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;
	color:#fff;
	padding:0px 136px;
	margin-top:auto;
	margin-bottom:72px;
	z-index:2;
}

.section.introduction > .infographicContainer > .infographicItem {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	align-content:center;
	flex-grow:1;
	position:relative;
	padding:0;
	margin:6px 12px;
	background:;
	gap:12px;
}

.section.introduction > .infographicContainer > div:last-of-type {
margin:0;
}

.infographicItem > .figure {
	font-size:48px;
	line-height:62px;
	margin-bottom:-4px;
}

.figure img {
max-height:48px;
	margin-bottom:-8px;
user-select: none;
}

.infographicItem > .text {
	font-size:18px;
	line-height:24px;
}

.section.footer {
	height:2500px;
}

.section.seriesInfo {
	position: relative;
	height: 840px;
background: linear-gradient(180deg, #79D5E9 0%, #7CA4BB 100%);

	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	
	padding: 0px 0 0 0;
}


