/* BODY */

body {

	height:3000px;
	background:#eee;

}

/* MAIN CONTAINER */

#main

 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	
	position:relative;
	
	max-width:1440px;
	margin: 0 auto;
	position:relative;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}



/* NAVIGATION */

.section.navigation {

	background:pink;

	position:fixed;
	
	z-index:1000;

	width:100%;
	max-width:1440px;
	height:auto;
	
	top: 0px;
	left: 50%;
	transform: translateX(-50%);

	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;

	background:var(--color-light-white80opacity);
	backdrop-filter: blur(20px);
	box-shadow: 0 10px 15px -25px #272B40;
	
	overflow:hidden;


}

.navigationBar {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap; /* fix */
	justify-content: space-evenly;
	align-items:center;
	align-content:flex-start;
	
	padding:var(--size24px) var(--size48px);
	
	gap: var(--size6px); /* Excessive since gap is defined by space-evenly from parent */
}

.navigationItem {
	padding:var(--size6px) var(--size12px);
	border-radius:var(--borderRadius-12);
	cursor:pointer;
}

.navigationItem.button {
	padding:var(--size6px) var(--size12px);
	border-radius:var(--borderRadius-12);
	cursor:pointer;
	border:1px solid #eee;
}

.navigationItem > a .text {
	font-size:var(--fontSize-1616);
	line-height:var(--lineHeight-1616);
	white-space:nowrap;
	text-wrap: none;
	color:var(--color-dark-mainFull);
	height:16px;
}

.navigationItem:hover {
	background:lightskyblue;
}


/* SECTION INTRO */

.section.intro {
	width:100%;
	
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size0px) var(--size0px);
	
	gap:var(--size48px); /* Items are distributed vertically by parent 'space-between', but for the sake of order gap is defined as well*/
	
	height:80vh;
	
	max-height:var(--size912px);
	
	min-height:var(--size768px); /* Required to keep the sky */

}

.section.intro > .background, .section.intro > .gradient {

	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-size:cover;
	background-position:bottom center;
	background-repeat:no-repeat;
	
	/* Backgrounds are defined inline */
	
}

.section.intro > .background {

	z-index:-2;
	
}

.section.intro > .gradient {

	z-index:-1;
	
}


.introStats {

	align-self:stretch;
	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-items:flex-start;
	align-content:flex-start;
	
	padding:var(--size48px) var(--fixedsize96px);
	
	gap:var(--size12px);

	
}

.statItem {

	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
	
	gap:var(--size12px);
	
	color:#fff;

}

.statItem > .title {

	font-size:var(--fontSize-4862);
	line-height:var(--fontSize-4862); /* same LH as FS */

}

.statItem > .text {

	font-size:var(--fontSize-1824);
	line-height:var(--fontSize-1824); /* same LH as FS */
	

}

/* END SECTION INTRO */


/* SECTION SHOWCASE */

.section.showcase {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	padding:var(--size96px) var(--size96px);
	
	gap:var(--size48px);

}

.section.showcase > .background, .section.showcase > .gradient {

	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
	
	/* Backgrounds are defined inline */
	
}

.section.showcase > .background {

	z-index:-2;
	
}

.section.showcase > .gradient {

	z-index:-1;
	
}

.section.showcase > .borderFrame {

	position:absolute;
	top:var(--size48px);
	left:var(--size48px);
	height:calc( 100% - var(--size96px) );
	width:calc( 100% - var(--size96px) );
	border:1px solid #fff;
	border-radius:var(--borderRadius-48);
	z-index:20;
}




.showcaseSlider {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
	
	position: relative;
	
	border-radius:var(--borderRadius-24);
	
	height:480px;

}

.showcaseSlider .sliderControl {
	
	position:absolute;
	width:100%;
	height:100%;
	
	left:calc( var(--size48px) * -1);
	top:calc( var(--size48px) * -1);
	height:calc(100% + var(--size96px));
	width:calc(100% + var(--size96px));

}

.sliderControl > .arrowLeft, .sliderControl > .arrowRight  {

	position:absolute;
	display:block;
	width:var(--fixedsize48px);
	height:var(--fixedsize48px);
	top:calc( 50% - var(--fixedsize24px) );
	background:#fff;
	z-index:90;
	border-radius:100%;
	cursor: pointer;

}

.sliderControl > .arrowLeft:hover, .sliderControl > .arrowRight:hover {

	background:#eee;

}

.sliderControl > .arrowLeft {

	left:calc( var(--fixedsize24px) * -1);

}

.sliderControl > .arrowRight {

	right:calc( var(--fixedsize24px) * -1);

}

.sliderControl > .arrowLeft:after, .sliderControl > .arrowRight:after {

	content:'';
	position:absolute;
	top:12px;
	width:var(--fixedsize24px);
	height:var(--fixedsize24px);
	background-size: contain;
	background-position:center center;
	background-repeat:no-repeat;
	
}

.sliderControl > .arrowLeft:after {

	left:10px;
	background-image:url('/res/i/component_slider-arrowLeft.png');

}

.sliderControl > .arrowRight:after {

	right:10px;
	background-image:url('/res/i/component_slider-arrowRight.png');

}

.sliderControl > .selectors {

	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
	align-content:center;
	
	gap:var(--fixedsize6px);
	
	position:absolute;
	bottom:var(--size72px);
	width:var(--fixedsize144px);
	left:calc( 50% - var(--fixedsize72px) );
	z-index:90;
	cursor:pointer;

}

.selector {

	border:4px solid #fff;
	border-radius:100%;
	width:var(--fixedsize12px);
	height:var(--fixedsize12px);
	box-shadow:0 4px 10px -6px #000;
	
	
}

.selector:hover {

	background:#ccc !Important;

}

.selector.active {

	background:#eee;
	
}

.sliderContainer {

		display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	
	border-radius:var(--borderRadius-24);
	
	position:relative;
	
		height:100%;
	background:red;

}

.sliderContainer > .slide{



}

.slide > .picture {

	background-size: contain;
	background-position:center center;
	background-repeat:no-repeat;

}




/* END SECTION SHOWCASE */