/* VARIABLES */

:root {

	/* Colors */
	--color-dark-mainFull: #272B40;
	--color-dark-mainMid: #A5AAC3;
	--color-light-white100: #ffffff;
	--color-light-white80opacity: rgba(255, 255, 255, 0.80);
	--color-accent-violet100: #CC00FF;

	

	
}

/* END VARIABLES */