/* TEMP */

.check {
position:fixed;
top:0;
right:0;
}

.section {
	position:relative;
}

#main {
	position:relative;
}

.guides {
	position:absolute;
	width:1px;
	height:100%;
	top:0px;
	z-index:100;
	background:cyan;
	left:96px;
	display:block;
}

.guides:nth-of-type(1) {
	left:144px;
}

.guides:nth-of-type(2) {
	left:auto;
	right:96px;
}

.guides:nth-of-type(3) {
	left:auto;
	right:96px;
}

.guides:nth-of-type(4) {
	left:auto;
	right:144px;
}

.guides:nth-of-type(5) {
	left:720px;
}

body {
	background:;
}

a {
	color:inherit;
	border-bottom:1px solid #999;
	text-decoration:none;
}

a:hover {
	border-bottom:1px solid #A5AAC3;
}

divs {
	box-sizing: border-box;
	border: 1px solid deepskyblue;
	margin:4px;
}

div .text, div .title, div .name {
	background: ;
}

/* END TEMP */


/* GLOBALS */

*, *:before, *:after {
transition: 0.1s all ease;
}

.hide {
	display:none !important;
}

/* END GLOBALS */


/* FONT STYLES */

.title, .text, .name, .button {
	font-family: PP Object Sans;
}

b {
	font-weight:bold
}

/* END FONT STYLES */



/* VARIABLES */

:root {

	/* Colors */
	--color-dark-mainFull: #272B40;
	--color-dark-mainMid: #A5AAC3;
	--color-light-white100: #ffffff;
	--color-light-white80opacity: rgba(255, 255, 255, 0.80);
	--color-accent-violet100: #CC00FF;
	
	/* Sizes */
	
	--size0px: 0px;
	--size6px: 6px;
	--size12px: 12px;
	--size14px: 14px;
	--size16px: 16px;
	--size24px: 24px;
	--size32px: 32px;
	--size36px: 36px;
	--size42px: 42px;
	--size48px: 48px;
	--size54px: 54px;
	--size62px: 62px;
	--size72px: 72px;
	--size84px: 84px;
	--size96px: 96px;
	--size120px: 120px;
	--size144px: 144px;
	--size240px: 240px;
	
	/* Fixed sizes */
	
	--fixedsize6px: 6px;
	--fixedsize12px: 12px;
	--fixedsize14px: 14px;
	--fixedsize16px: 16px;
	--fixedsize24px: 24px;
	--fixedsize32px: 32px;
	--fixedsize36px: 36px;
	--fixedsize48px: 48px;
	--fixedsize54px: 54px;
	--fixedsize62px: 62px;
	--fixedsize72px: 72px;
	--fixedsize84px: 84px;
	--fixedsize96px: 96px;
	--fixedsize120px: 120px;
	--fixedsize144px: 144px;
	--fixedsize240px: 240px;
	
	/* Breakpoints */
	
	--breakpoint1440: 1440px;
	--breakpoint768: 768px;
	
	/* Ratios */
	
	--ratio1440to768: calc(768 / 1440);
	
	/* Font sizes fontSize@lineHeight */
	
	/* 24@32 */
	--fontSize-2432: var(--size24px);
	--lineHeight-2432: var(--size32px);
	
	/* 24@32 */
	--fontSize-2436: var(--size24px);
	--lineHeight-2436: var(--size36px);
	
	/* 36@42 */
	--fontSize-3642: var(--size36px);
	--lineHeight-3642: var(--size42px);
	
	/* 14@16 */
	--fontSize-1416: var(--size14px);
	--lineHeight-1416: var(--size16px);
	
	/* 16@16 */
	--fontSize-1616: var(--size16px);
	--lineHeight-1616: var(--size16px);

	/* 16@24 */
	--fontSize-1624: var(--size16px);
	--lineHeight-1624: var(--size24px);
	
	/* 72@84 */
	--fontSize-7284: var(--size72px);
	--lineHeight-7284: var(--size84px);
	
	/* 48@62 */
	--fontSize-4862: var(--size48px);
	--lineHeight-4862: var(--size62px);
	
	/* Border radii  */
	--borderRadius-12: var(--fixedsize12px);
	--borderRadius-24: var(--fixedsize24px);
	--borderRadius-48: var(--fixedsize48px);
	
}

/* END VARIABLES */



/* RESPONSIVENESS */

@media screen and (width < 768px ) {
	:root {
	
		/* Sizes */
		
		--size6px: calc( 6px * var(--ratio1440to768) );
		--size12px: calc( 12px * var(--ratio1440to768) );
		--size14px: calc( 14px * var(--ratio1440to768) );
		--size16px: calc( 16px * var(--ratio1440to768) );
		--size24px: calc( 24px * var(--ratio1440to768) );
		--size32px: calc( 32px * var(--ratio1440to768) );
		--size36px: calc( 36px * var(--ratio1440to768) );
		--size42px: calc( 42px * var(--ratio1440to768) );
		--size48px: calc( 48px * var(--ratio1440to768) );
		--size54px: calc( 54px * var(--ratio1440to768) );
		--size62px: calc( 62px * var(--ratio1440to768) );
		--size72px: calc( 72px * var(--ratio1440to768) );
		--size84px: calc( 84px * var(--ratio1440to768) );
		--size96px: calc( 96px * var(--ratio1440to768) );
		--size120px: calc( 120px * var(--ratio1440to768) );
		--size144px: calc( 144px * var(--ratio1440to768) );
		--size240px: calc( 240px * var(--ratio1440to768) );
		
		/* Fixed sizes */
		
	}
}

/* END RESPONSIVENESS */



/* FLEX COMPONENTS */

/* Flex Column Horizontal Left */

#main, .section,
.header, .headerText,

 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	
	position:relative;
}

/* Flex Column Horizontal Center */

.quote, .quoteText, .quoteAuthor,
.quoteAuthor > .picture,
.section.footer,
.section.company, .companyContainer,
.companyText, .companySlider
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	
	position: relative;
}

/* Flex Row Horizontal Center Space Between */

.navigationBar,
.companyItem
{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items:center;
	align-content:flex-start;
}

/* Flex Row Horizontal Center Space Between */

/* END FLEX COMPONENTS */


/* LAYOUT */

#main {
	max-width: 1440px;
	margin: 0 auto;
	position:relative;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}

body:after {
	content:'';
	position:fixed;
	background:#fff;
	box-shadow:inset 0 0 200px #ccc;
	width:100%;
	height:100vh;
	left:0;
	top:var(--size36px);
	z-index:-5
}

/* NAVIGATION */

.section.navigation {
	position:sticky;
	top:0;
	margin:0 auto;
	width:100%;
	z-index:10;
	background:var(--color-light-white80opacity);
	backdrop-filter: blur(20px);
	box-shadow: 0 10px 15px -25px #272B40;
}

.navigationBar {
	flex-wrap:wrap;
	align-self:stretch;
	padding: var(--size24px) var(--size96px);
	gap: var(--size6px); /* minimum gap when space-between is 0 */
}

.navigationItem {
	padding:var(--size6px) var(--size12px);
	border-radius:var(--borderRadius-12);
	cursor:pointer;
}

.navigationItem > .text {
	font-size:var(--fontSize-1616);
	line-height:var(--lineHeight-1616);
	text-wrap: nowrap;
	color:var(--color-dark-mainFull);

}

.navigationItem:hover {
	background:yellow;
}

/* END NAVIGATION */

.section.showcase {
	padding: var(--size48px) var(--size96px);
	background:blue;
}

.section.history {}


.historyDescription > .text {

}






















.section.price {}
.section.mortgage {}
.section.outro {}



.header.company {
	background:#eee;
}

.section.company {
	padding:var(--size48px) var(--size96px);
		background:#eee;
}

.section

.companyContainer {
	gap:var(--size24px);

}

.companyItem {
	align-self:stretch;
	gap:var(--size24px);
}

.companyItem:nth-child(even) > .companyText{
	order:1; /* every even item reverses text and slider order */
}

.companyText, .companySlider {
	flex:1 1 0;
	align-items:stretch;
}

.companyText {

}

.companyText > .text {
	font-size:var(--fontSize-2436);
	line-height:var(--lineHeight-2436);
	text-align:right;
	padding:var(--size48px);
	z-index:2
}

.companyItem:nth-child(even) > .companyText > .text {
	text-align:left;
}

.companyText > .text.right {

}

.companySlider {
	min-height:360px;
	border: var(--size12px) solid #B5E4FF;
	border-radius:var(--borderRadius-48);
	background:#fff;
}

.companySliderControls {

}

.companySliderItem {

}

.companyItem.full {
	border-radius:var(--borderRadius-48);
	background:#fff;
	margin-top:var(--size48px)
}

.companyItem.full > .companyText {
	padding:var(--size48px);
	position:relative;
}

.companyText.full:before {
	position:absolute;
	content:'';
	background:red;
	width:30%;
	height:120%;
	bottom:0;
	right:var(--size48px);
	z-index:;
	
}

.companyText.full > .title {

}

.companyText.full > .text {
	text-align:left;
	padding:0;
}

.companyText.full > .name {

	text-align:left;
}


.section.footer {
	background:var(--color-dark-mainFull);
	color:var(--color-dark-mainMid);
	padding:var(--size48px) var(--size96px);
	gap:var(--size24px);
}

.footerSocials {

}

.footerLogoTagline {

}

.footerContacts {
	padding:var(--size36px) var(--size48px);
	gap:var(--size48px);
	border-radius:var(--borderRadius-48);
	border:1px solid var(--color-dark-mainMid);
	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	align-items:flex-start;
	align-content:flex-start;
}

.contactsColumn {
	flex:1 1 0;
	min-width:240px;
}

.contactsColumn > .text {
	font-size:var(--fontSize-1624);
	line-height:var(--lineHeight-1624);
}

.contactsColumn > .text p {
	margin-bottom:var(--lineHeight-1624);
}

.contactsColumn > .text p:last-of-type {
	margin-bottom:0;
}

.contactsColumn > .text p.phone {
	font-size:var(--fontSize-2432);
	line-height:var(--lineHeight-2432);
}

.footerMadeIn {

}

.footerMadeIn > .text {
	font-size:var(--fontSize-1416);
	line-height:var(--lineHeight-1416)
}



/* Component Quote */

.quote {
	position: relative
}

.quoteText {
	padding: var(--size48px) var(--size96px) var(--fixedsize72px) var(--size96px);
	border-radius: var(--borderRadius-24);
	background: var(--color-light-white80opacity);
	backdrop-filter: blur(40px);
}

.quoteText > .text {
	font-size: var(--fontSize-2432);
	line-height: var(--lineHeight-2432);
	color: var(--color-dark-mainFull);
	text-align: center;
}

.quoteAuthor {
	z-index: 1;
	gap: var(--size12px);
}

.quoteAuthor > .picture {
	margin-top: calc( var(--fixedsize54px) * -1 );
	width: var(--fixedsize96px);
	height: var(--fixedsize96px);
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #eee;
	border: var(--fixedsize6px) solid #fff;
}
.quoteAuthor > .text {
	font-size: var(--fontSize-1624);
	line-height: var(--lineHeight-1624);
	color: var(--color-light-white100);
	text-align: center;
}

/* Component Header */

.header {
	position:relative;
	padding: var(--size48px) var(--size144px) var(--size24px) var(--size144px);
	align-self:stretch
}

.headerText {
	color:var(--color-dark-mainFull);
	gap:var(--size12px);
}

.headerSuperTitle {}

.headerSuperTitle > .text {
	font-size:var(--fontSize-1416);
	line-height:var(--lineHeight-1416);
}

.headerTitle {
	position:relative;
}

.headerTitle:before {
	position: absolute;
	content: '';
	width: var(--size120px);
	height: var(--size12px);
	left: calc( var(--size144px) * -1 );
	top: var(--size36px);
	background: var(--color-accent-violet100);
}

.headerTitle > .text {
	font-size:var(--fontSize-7284);
	line-height:var(--lineHeight-7284);
}

.headerDescription {
	max-width:912px;
}

.headerDescription > .text {
	font-size:var(--fontSize-2436);
	line-height:var(--lineHeight-2436);
}

















/* absolutes */

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.background:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

/* end absolutes */



/* section showcase */

.showcaseBackground {
	z-index: -1;
	background: url();
	background-position: top center;
}
.showcaseBackground:after {
	background: linear-gradient(180deg, rgba(1, 89, 5, 0.00) 80%, rgba(1, 89, 5, 0.60) 90%);
}









